body {
    font-size: 4em;
}

#svg-pentagon {
    text-align: center;
    margin: 2em auto auto auto;
}
    .svg-pentagon svg {

    }
    .pentagon {
      stroke-width:0.5px
      -webkit-transform:rotate(36deg);
      -moz-transform:rotate(36deg);
      //transform:rotate(36deg);
    }
    .pentagon:hover {
      fill: #2D2D2D;
    }
    .shard-1 {
    fill: #EFE3E5;
    }
    .shard-2 {
    fill: #F0D9D8;
    }
    .shard-3 {
    fill: #F1CDC5;
    }
    .shard-4 {
    fill: #F2C1B6;
    }
