/* UWC Standards
Main Colors:
  Blue - #0064a6
  Green - #009b90

Secondary Colors:
  Brown - #983e09
  Purple - #741669
  Pink - #ad1644
  Orange - #de6328
  Cool Grey - #717073
*/

body {
  margin: 0 0;
  font-family: 'Arial', 'sans-serif';
    color: #000;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.7fr;
  grid-template-rows: auto 1fr 1fr 1fr 0.2fr;
}

.title, .footer {
  color: #FFF;
  grid-column: 1 / -1;
  display:inline-block;
  margin: 0.5em inherit;
  background-color: #009b90;
}

.title h1 {
  float:left;
  font-size: 3em;
}

.UWC-logo {
  float: left;
  margin: auto 0.75em auto 1em;
}

.text {
  margin: auto 3em;
  font-size: 1.15em;
  text-align: left;
}

.text strong {
  color: #0064a6;
}

/* Left side */
.text:nth-of-type(even){
}

/* Right side */
.text:nth-of-type(odd){
}

/*** Pentagon ***/
#svg-pentagon {
    text-align: center;
    margin: auto auto auto auto;
    grid-column: 2;
    grid-row: 2 / 5;
}
.svg-pentagon svg {

}
.pentagon {
  stroke-width:0.5px
  -webkit-transform:rotate(36deg);
  -moz-transform:rotate(36deg);
  //transform:rotate(36deg);
}
/* .pentagon:hover {
  fill: #2D2D2D;
} */
