/* UWC Standards
Main Colors:
  Blue - #0064a6
  Green - #009b90

Secondary Colors:
  Brown - #983e09
  Purple - #741669
  Pink - #ad1644
  Orange - #de6328
  Cool Grey - #717073
*/

body {
  margin: 0 0;
  font-family: 'Arial', 'sans-serif';
    color: #000;
}

h1 {
  font-size: 3em;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.6fr;
  grid-template-rows: 0.5fr 1.25em 1fr 1fr 1fr 0.2fr;
}

.title, .footer, .menu {
  color: #FFF;
  grid-column: 1 / -1;
  display:inline-block;
  margin: 0.5em inherit;
  background-color: #009b90;
}

.UWC-logo {
  float: left;
  width: 8.5em;
  margin: auto 0.75em auto 1em;
}

table {
  border: 1px solid black;
  margin: auto 3em;
  padding: 0.5em;
}

.table-level {
  font-size: 1.5em;
}

.menu {
  grid-row: 2;
  color: #FFF;
  text-align: center;
  background-color: #0064a6;
}

.menuItem {
  margin-left: 0.5em;
}

.menuItem:hover {
  color: #de6328;
}

.selected {
  color: #de6328;
}

/*** Text ***/
.text {
  font-size: 1em;
  text-align: left;
  margin: auto auto;
  /* padding: 0.5em; */
}

div .text:hover {
  box-shadow: 0px 0px 5px 0px #0064a6;
}

li,ul {
  pointer-events: none;
}

strong {
  color: #0064a6;
}

small {
  font-size: 0.75em;
  color: #000;
  opacity: 0.5;
}

/* Pages are hidden by default */
.page {
  display: none;
}

.show {
  display: inherit;
}

/*** Pentagon ***/
#J-svg-pentagon {
    text-align: center;
    margin: auto auto auto auto;
    grid-column: 2;
    grid-row: 3 / 6;
    overflow: visible;
}

#svg-pentagon {
  width: 100%;
  height: 100%;
  margin: auto auto auto auto;
}

.shard {
  z-index: 0;
}

.label {
  fill: #717073;
  font-size: 1.5em;
  z-index: 25;
}

.level {
  fill: #717073;
  /* stroke: #2D2D2D; */
  font-size: 1.25em;
  pointer-events: none;
}
