body {
    font-size: 4em;
}

#svg-pentagon {
    text-align: center;
    margin: 2em auto auto auto;
}
    .svg-pentagon svg {

    }
    .pentagon {
      stroke-width:0.5px
      -webkit-transform:rotate(36deg);
      -moz-transform:rotate(36deg);
      //transform:rotate(36deg);
    }
    /* .pentagon:hover {
      fill: #2D2D2D;
    } */
    .shard:hover {
    fill: #F2C1B6;
    }
